services:
  backend:
    build:
      context: .         
      dockerfile: Dockerfile
    container_name: techhelpdesk-backend
    env_file:
      - ./.env.docker     
    ports:
      - "3000:3000"
    restart: unless-stopped
